.welshimer-form{
	.form {
		margin:0.5em 0;
	}
	.submit {
		display:block;
		@include background-image(linear-gradient($green, darken($green, 10%)));
		@include border-radius(2px); /* FLATTEN */
		@include box-shadow(rgba(white, 0.25) 0px 1px 1px 0px inset);
		@include text-shadow(black -1px -1px 3px, rgba(#000061, 0.5) 0px 1px 1px);
		background-color:$green;
		border:solid 1px $grey-80;
		color:$white;
		margin:1em 0;
		padding:0.5em 2em;
		text-align:center;
		text-decoration:none;
		&:hover {
			@include background-image(linear-gradient(darken($green, 2%), darken($green, 12%)));
			cursor:pointer;
		}
	}

	$form-margin-right: 1%;

	.text, .textarea, {
		display:inline-block;
		width:100%;
		padding:0.5em;
		margin-right:$form-margin-right;
		vertical-align:top;
	}
	.quarter {
		width:25% - $form-margin-right;
	}
	.half {
		width:50% - $form-margin-right;
	}
	.three-fourths {
		width:75% - $form-margin-right;
	}
	.full {
		width:100% - $form-margin-right;
	}

	.label {
		display:block;
	}

	@media all and (min-width:600px){
		.text, .textarea {
			width:75% - $form-margin-right;
		}
		.three-fourths {
			width:50% - $form-margin-right;
		}
		.half {
			width:25% - $form-margin-right;
		}
		.quarter {
			width:25% - $form-margin-right;
		}
		.label {
			display:inline-block;
			width:25% - $form-margin-right;
			margin-right:$form-margin-right;
		}
	}
}